.graph_grid {
  svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  line {
    stroke-width: 1;
    stroke: rgba(24, 45, 59, 0.1);
  }

  text {
    font-size: 10px;
    fill: #8E8E93;
  }
}

body.dark {
  .graph_grid {
    line {
      stroke: rgba(255, 255, 255, 0.1);
    }
  }
}
